<p>contact works!</p>

<!-- <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
<div>
<label for="name">Name</label>
<input id="name" formControlName="name" />
<div class="error" *ngIf="submitted && contactForm.controls.name.invalid">Bitte Name eingeben.</div>
</div>


<div>
<label for="email">E-Mail</label>
<input id="email" formControlName="email" />
<div class="error" *ngIf="submitted && contactForm.controls.email.invalid">Bitte gültige E-Mail.
</div>
</div>


<div>
<label for="message">Nachricht</label>
<textarea id="message" formControlName="message"></textarea>
<div class="error" *ngIf="submitted && contactForm.controls.message.invalid">Mindestens 10 Zeichen.</div>
</div>


<button type="submit">Senden</button>


<div class="success" *ngIf="success">Danke! Nachricht gesendet.</div>
<div class="error" *ngIf="error">{{ error }}</div>
</form> -->