<footer>
  <p>&copy; 2025 Mein Portfolio</p>
  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Startseite
    </a> |
    <a routerLink="/impressum" routerLinkActive="active">
      Impressum
    </a> |
    <a routerLink="/agb" routerLinkActive="active">
      AGB
    </a>
  </nav>
    <div class="social-icons">
    @if (device.mobile()) {
      <app-icon-library name="github" variant="mobile" />
      <app-icon-library name="linkedin" variant="mobile" />
      <app-icon-library name="mail" variant="mobile" />
    } @else {
      <app-icon-library name="github" variant="dark" />
      <app-icon-library name="linkedin" variant="hover" />
      <app-icon-library name="mail" variant="mobile" />
    }
  </div>

  @if (device.mobile()) {
  <div class="mobile-menu">📱 Mobile Menü</div>
} @else if (device.tablet()) {
  <div class="tablet-menu">💻 Tablet Menü</div>
} @else {
  <div class="desktop-menu">🖥️ Desktop Menü</div>
}
</footer>
