<footer>
  <p>&copy; 2025 Mein Portfolio</p>
  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Startseite
    </a> |
    <a routerLink="/impressum" routerLinkActive="active">
      Impressum
    </a> |
    <a routerLink="/agb" routerLinkActive="active">
      AGB
    </a>
      <a href="https://github.com/deinname" target="_blank">
    <app-icon-library name="github" variant="dark"></app-icon-library>
  </a>
  <a href="https://linkedin.com/in/deinname" target="_blank">
    <app-icon-library name="linkedin" variant="dark"></app-icon-library>
  </a>
  <a href="mailto:deinmail@example.com">
    <app-icon-library name="mail" variant="dark"></app-icon-library>
  </a>
  </nav>

</footer>
