<div class="header">
  <div class="img-hover-bg">
    <img class="me" src="assets/images/header/me1.png" alt="Profilbild" />
    <app-hover-image
      defaultSrc="assets/images/header/ellipse35.svg"
      hoverSrc="assets/images/header/ellipse25.svg"
      alt="Ellipse"
      transitionDuration="0.6s"
      transitionTiming="ease"
    />
  </div>
  <div class="headerContent">
    <div>

      <div class="center">
        <app-developer-signature
        nameShort="F.Neußer"
        nameFull="Franz Neußer"
        strokeColor="#89BCD9"
        fillColor="#F8F5EC"
        />
      </div>
      <div class="social-icons-top">
        <app-icon-library name="mail" variant="default" /> 
        <app-icon-library name="github" variant="default" />
        <app-icon-library name="linkedin" variant="default" />
      </div>
    </div>
    <p>Neußer Franz</p>
    <div class="arrowDown">
      <img src="assets/images/header/arrow.svg" alt="arrow" />
    </div>
  </div>
</div>

<div class="headerLinks">
  @if (device.mobile()) {
  <!-- Mobile Header -->
  <div class="burgerMenu">
    <svg
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 2H31" stroke="#F8F5EC" stroke-width="2" stroke-linecap="round"
      />
      <path d="M1 16H31" stroke="#F8F5EC" stroke-width="2" stroke-linecap="round"
      />
      <path d="M1 30H31" stroke="#F8F5EC" stroke-width="2" stroke-linecap="round"
      />
    </svg>
  </div>
  } @else {
  <!-- Desktop Header -->
  <nav class="desktop-nav">
    <div class="developerIcon"></div>
    <a routerLink="/">Why me</a>
    <a routerLink="/">Skills</a>
    <a routerLink="/projekte">Projekte</a>
    <a routerLink="/kontakt">Contact</a>
  </nav>
  }
</div>
