@use 'colors' as *;
@use 'main' as *;

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1024px;
    height: fit-content;
    color: #F8F5EC;
}

.img-hover-bg{
    z-index: 1;
    transition: all 0.3s ease;
    position: relative;
    top: 0;
    left: 0;

    img{
        object-fit: cover;
        transition: all .7s ease;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .me{
        width: 200px;
        position: relative;
        top: 0;
        left: 0;
        scale: .7;
        z-index: 2;
        pointer-events: none;
    }
    
    .ellipse35{
        width: 200px;
        position: absolute;
        top: 60px;
        left: 0px;
        
        z-index: -1;
        transition: all .7s ease;
    }
    
    
    :hover img{
        filter: blur(0px);
        scale: 2.1;
    }
}

.headerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    transition: all 1.3s ease;

}

.center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.developer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    transition: all 1.3s ease;

    p {
        margin: 0;
        padding: 0;
        color: url($color-bg-text);
        font-family: anta;

    }

}

.github{
    :hover{
        cursor: pointer;
        scale: 1.2;
    }

}

.arrowDown{
    rotate: 180deg;
    display: flex;
    align-items: center;
    width: fit-content;
    
    img{
        margin-top: 10px;
        color: #F8F5EC;
        transition: all .7s ease;
        max-height: 48px;
    }
    :hover{
        cursor: pointer;
        color: #26c1ff;
        scale: 1.2;
    }
    :hover path, rect{
        scale: unset;

    }
    .scaleUnset{
        scale: unset;
    }    

}



.burgerMenu{
        position: fixed;
    top: 30px;
    right: 30px;
}