// @use 'sass:colors'; 
@use 'colors' as *;
@use 'main' as *;



:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.35rem;
  border-radius: 50%;
  transition:
    transform 10.25s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    filter 0.3s ease;
  background-color: transparent;


  svg path {
    fill: $color-bg-text;
    stroke: $color-bg-text;
    transition: fill 0.3s ease, stroke 0.3s ease;
  }

  &:hover {
    transform: scale(1.08);
    background-color: $color-bg-button-hover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    filter: brightness(1.1);

    svg path {
      fill: $color-text-hover;
      stroke: $color-text-hover;
    }
  }

  &:active,
  &:focus-visible {
    outline: none;
    transform: scale(0.95);

    svg path {
      fill: $color-bg-page;
      stroke: $color-bg-page;
    }
  }
  
  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;

    svg path {
    // fill: color.mix($color-bg-text, $color-bg-page, 70%);
    fill: red;
    }
  }
}
